enhancer.engines.entitylinking.labeltokenizer.languages=["jp"]
enhancer.engine.linking.labeltokenizer.lucene.charFilterFactory="org.apache.solr.analysis.MappingCharFilterFactory;mapping\=gosen-mapping-japanese.txt"
enhancer.engine.linking.labeltokenizer.lucene.tokenizerFactory="org.apache.solr.analysis.gosen.OsgiGosenTokenizerFactory"
enhancer.engine.linking.labeltokenizer.lucene.tokenFilterFactory=[""]
service.ranking=I"100"
